.chatroom-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.chatroom {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.chatroom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
  align-content: center;
  justify-content: center;
}

.chatroom-items {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  height: 15em;
  width: 20em;
  padding: 20px;
}

.chatroom-items p {
  height: 5rem;
  align-content: center;
}

.chatroom-name {
  font-weight: bold;
  font-size: 22px;
}

.chatroom-edit {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px; /* Add border radius */
  padding: 5px 10px; /* Add padding */
  color: black;
}

.chatroom-edit:hover {
  background-color: grey;
  border-radius: 5px;
}

.chatroom-items button:hover {
  /* change once color theme is established */
  background-color: red;
}

h3 {
  font-weight: bold;
  font-size: 22px;
}

.chatroom-delete{
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 4px 16px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
  border: 1px solid grey;
}


