/*
Inside of MessageList.jsx
const messageComponents = messages.map((message) => {
    return (
      <Message className = "message"
        key={message.id}
        message={message}
        deleteMessage={deleteMessage}
*/
.message {
    width: 100%;

}

/*
Inside of MessageList.jsx
<h3>User Messages</h3>
      {messageComponents}
*/
.message-column {
    width: 200em;
    align-content: center;
    margin: 0 auto;
    max-width: 1300px;
}

/*
Inside of Message.jsx
<p>{message.content}</p>
      <button className="delete-message" onClick={handleMessageDelete}>Delete</button>
*/
.message-items {
    border: 2px solid black;
    border-radius: 20px;
    height: 5em;
    width: 40em;
    margin-left: 2em;
    font-size: 30px;
    align-content: center;
    margin-bottom: 2em;
    text-align: center;
  }

  /* Header "User Messages" */
  h2 {
    height: 2em;
    margin: 1em;
    text-align: center;
  }

  /* Delete button */
  .delete-message{
    width: calc(15% - 5px);
    height: calc(30% - 5px);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
  }

  /* Delete message button onHover*/
  .delete-message:hover {
    background-color: red;
}

