h3 {
    font-weight: bold;
    font-size: 22px;
    height: 2em;
    margin: 1em;
    text-align: center;
    margin-top: 2em;
}

.new-message {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2em;
    background-color: #ffddb0 ;
}

.new-message input[type="text"],
.new-message input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.new-message input[type="submit"] {
    cursor: pointer;
}

.new-message input[type="submit"]:hover {
    background-color: grey;
}

.new-message input[type="text"]:focus {
    outline: none;
    border-color: red;
}